#pilihbahasa div{
    text-align: center;
    color: white;
    font-size: 16;
}
#pilihbahasa > div > a{
    display: block;
    line-height: 100px;
    height: 100px;
    color: white;
}
.panel{
    font-family: 'Rubik', sans-serif;
}
.html,
.css,
.js{
    background: #bdc3c7
}
.html:hover{
    background: #1abc9c
}
.css:hover{
    background: #9b59b6
}
.js:hover{
    background: #d35400
}
.navbar{
    border-radius: 0;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mega-menu{
    position: absolute;
    left: 0;
}
.mega-menu ul{
    list-style: none;
    padding: 0;
}
.mega-menu li{
    color: #34495e;
}
.mega-menu li:hover{
    color: #95a5a6;
}
.navbar-nav li{
    position: static !important;
}