#pilihbahasa div{
    text-align: center;
    color: white;
    font-size: 16;
}
#pilihbahasa > div > a{
    display: block;
    line-height: 100px;
    height: 100px;
    color: white;
    background: #bdc3c7;
}
a .html:hover{
    background: #1abc9c
}
a .css:hover{
    background: #9b59b6
}
a .js:hover{
    background: #d35400
}
.navbar{
    border-radius: 0;
}