#pilihbahasa div{
    text-align: center;
    color: white;
    font-size: 16;
}
#pilihbahasa > div > a{
    display: block;
    line-height: 100px;
    height: 100px;
    color: white;
}
.panel{
    font-family: 'Rubik', sans-serif;
}
.html,
.css,
.js{
    background: #bdc3c7
}
.html:hover{
    background: #1abc9c
}
.css:hover{
    background: #9b59b6
}
.js:hover{
    background: #d35400
}