.hasilkode{
    border: 1px dotted #333;
}
.asalkode,
.hasilkode{
    min-height: 120px;
    padding: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
#heading-all,
#heading-skip,
#heading-selesai{
    display: none;
}
#heading-selesai{
    margin: 20px 0;
}